
  .header {
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 2.5rem;
    color: #2c3e50;
    text-align: center;
    font-weight: bold;
  }
  .image_btn {
    display: flex;
    flex-direction: row; /* Stack image and buttons vertically on smaller screens */
    gap: 10px;
  }
  
  .imageContainer{
    width:60%;
  
  }
  .buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adds space between the buttons */
    align-items: center; /* Centers the buttons horizontally */
    margin-top: 20px; /* Adds space above the buttons */
    width:30%;
    justify-content: center;
    /* background-color: blueviolet; */
    
  }

  
  
  @keyframes slideIn {
    0% {
      transform: translateX(100%); /* Start off-screen to the right */
      opacity: 0; /* Invisible at the start */
    }
    100% {
      transform: translateX(0); /* End at the original position */
      opacity: 1; /* Fully visible */
    }
  }
  
  .header h1 {
    font-size: 4.5rem;
    color: #2c3e50;
    text-align: center;
    font-weight: bold;
    /* Apply animation */
    animation: slideIn 2s ease-in-out; /* 2 seconds duration */
  }
  
  @keyframes slideLeft {
    0% {
      transform: translateX(100%); /* Start off-screen to the right */
    }
    100% {
      transform: translateX(-100%); /* End off-screen to the left */
    }
  }
  
  


  